.panel-heading {
    text-align: center;
    background-color: rgba(28, 139, 236, 0.616)
}

.panel-body {
    background-color: rgba(255, 255, 255, 0.616);

}

.panel {
    background-color: rgba(255, 255, 255, 0);
}
.ng-valid[required]  {
    border-left: 5px solid #42A948; /* green */
  }
.ng-invalid:not(form)  {
    border-left: 5px solid #a94442; /* red */
  }
  